<div class="loader" *ngIf="loading == 'show'">
  <img src="assets/images/ajax-gray.gif" alt="">
</div>

<div class="col-md-12" *ngIf="juguete">
  <hr>
    <h1>{{juguete.titulo}}</h1>
  <hr>

  <div class="col-md-8">
    <img src="http://localhost/iaw/jugueterion-fs/symfony/web/uploads/juguete/{{juguete.imagen}}" alt="Imagen del juguete" />

    <div class="panel panel-default juguete-data">
      <div class="panel-heading">
        <h3 class="panel-title">
          Subido por <strong>{{juguete.usuario.nombre}} {{juguete.usuario.apellidos}}</strong> el {{juguete.creadoEn.timestamp}}
        </h3>
      </div>
      <div class="panel-body">
        {{juguete.descripcion}}
      </div>
    </div>
  </div>
</div>
