<div class="loader" *ngIf="loading == 'show'">
  <img src="assets/images/ajax-gray.gif" alt="">
</div>

<div class="col-md-12" *ngIf="juguete && loading == 'hide'">
  <hr>
    <h1>{{juguete.titulo}}</h1>
  <hr>

  <div class="col-md-8">
    <div class="juguete-detail-thumb">
      <img src="http://localhost/iaw/jugueterion-fs/symfony/web/uploads/juguete/{{juguete.imagen}}" onError="this.src = 'http://localhost/iaw/jugueterion-fs/symfony/web/uploads/juguete/default.png'" alt="Imagen del juguete" />
    </div>

    <div class="panel panel-default juguete-data">
      <div class="panel-heading">
        <h3 class="panel-title">
          Subido por <strong>{{juguete.usuario.nombre}} {{juguete.usuario.apellidos}}</strong> el {{juguete.creadoEn.timestamp | generateDate }}
        </h3>
      </div>
      <div class="panel-body">
        {{juguete.descripcion}}
      </div>
    </div>
    <!--- COMPONENTE DE COMENTARIOS -->
    <comments *ngIf="identity"></comments>
  </div>

  <div class="col-md-4">
    <h3>Otros juguetes</h3>
    <ul id="juguete-list" *ngIf="lastJuguetes">
      <li *ngFor="let juguete of lastJuguetes" class="last-juguete-item col-md-12 pull-left">
        <div class="last-juguete-image-thumb col-md-4 pull-left">
          <img src="http://localhost/iaw/jugueterion-fs/symfony/web/uploads/juguete/{{juguete.imagen}}" onError="this.src = 'http://localhost/iaw/jugueterion-fs/symfony/web/uploads/juguete/default.png'" alt="" *ngIf="juguete.imagen" />
        </div>

        <div class="data col-md-8 pull-left">
          <h5>
            <a [routerLink]="['/juguete', juguete.id]">{{juguete.titulo}}</a>
          </h5>
          <a>{{juguete.usuario.nombre}} {{juguete.usuario.apellidos}}</a>
        </div>
      </li>
    </ul>
  </div>
</div>
